body {
    font-family: Arial, sans-serif;
    background-color: #1E3A8A;
    padding: 40px;
    text-align: center;
}

h2 {
    color: #eee4e4;
    margin-bottom: 30px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 20px;
    border: 1px solid #e0dcd8;
}

th {
    background-color: #434040;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
